* {
	padding:0;
	margin:0;
	border:none;
	list-style-type:none;
}

p, a, li {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	display:flex;
	height:100vh;
	flex-flow:column;
	justify-content: space-between;
}
.content {
	flex:1;
}

.container {
	margin: auto;
	width: 100%;
	max-width:70%;
}

.nav {
	width: 100%;
	margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
	position: relative;
}

.nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav ul li {
	flex: 0 0 18%;
}

.nav ul li a {
	font-family: "Times New Roman", arial, serif;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #123416;
	font-size: 20px;
}

.nav ul li a:not(.logo):hover,
.nav ul li a:not(.logo).active{
	border:2px solid #3d7f40;
	color: #3d7f40;

}

.logo img{
	display: block;
	margin:auto;
	width: 100px;
}

.grow-box {
	width: 260px;
	height: 200px;
	border: 3px white solid;
	/*display: inline-block;*/
	text-align: center;
	padding: 20px 10px 5px 10px;

	
}

.grow-box h2 {
	padding: 13px;
	color: white;
	font-family: 'Amiri', serif;
}

.grow-box p {
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 27px;
	color: white;
	font-weight: 200;
}

.morebutton {
	font-family: Arial;
	background-color: #3d7f40;
	width: 40%;
	padding: 10px 23px 10px 23px;
	text-align: center;
	color: white;
	margin:auto;
}

.grow-box a {
	font-weight: 300;
	text-decoration: none;
}

.grow-box a:hover {
	background-color: white;
	color: #3d7f40;
	font-weight: 400;
}


#Main .container {
	height: 400px;
	background-image: url(img/homeslide.jpg);
	background-size:cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	background-color: white /*#3d7f40*/;
	margin: auto;
	text-align: center;
	padding: 40px 0;
}

.wrapper h1 {
	color: #18371a;
	display: inline-block;
	margin-bottom: 40px;
	border-bottom: 2px solid #18371a;
}

.boxwrapper {
    display: flex;
    justify-content: space-between;
}

.box {
	width: 30%;
	height: 180px;
	display: inline-block;
	padding: 40px 12px;
	color: white;
	transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1); 
}
.box:hover {
	transform:scale(1.1);
}
.box1 {
	background-color: #3d7f40;
}
.box2 {
	background-color: #275529;
}
.box3 {
	background-color: #18371a;
}
.box p {
	font-weight: 200;
	margin-top: 30px;
}

.services {
	display:flex;
	justify-content: space-between;
	padding: 110px 0;
	background:url(img/services.jpg);
	background-size:cover;
}
.services ul {
	padding: 0 100px;
}
.services ul li {
	color:white;
	list-style: disc;
	text-align: left;
	line-height:2;
	font-size: 18px;
}

#Contact .contact {
	background-color: #213A1E;
}
.container .contact {
	padding-bottom: 20px;
	color: white;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 200;

}
.container .contact h3  {
	padding: 20px;
	font-family: "Times New Roman", arial, serif;


}


#About {
	padding:0;
	color:white;
}
#About p {
	margin-bottom:40px;
}
#About p:last-child{
	margin-bottom:0;
}
#About .container .about {
	background: #213A1E;
	padding: 100px 150px;
}

.request-form-wrapper {
	background: #213A1E;
}

.request-form-wrapper form {
	padding : 40px 0;
}
.request-form-wrapper form .form-field {
	padding: 7px 0;
	display:flex;
	align-items: center;
}
.request-form-wrapper form .form-field label{
	text-align: right;
	padding-right:15px;
	width:40%;
}
.request-form-wrapper form .form-field input{
	padding:7px;
	width:40%;
}
.request-form-wrapper form .form-field.submit-field{
	display:block;
	padding-top:65px;
}
.request-form-wrapper form .form-field.submit-field input{
	padding:10px 60px;
	background:#457D3E;
	border:1px solid white;
	color:white;
	font-size:20px;
	width:auto;
	border-radius: 0;
}
footer {
	padding:15px 0;
	margin-top:15px;
	color:white;
	text-align: center;
	background-color: #213A1E;
}
